!!! 5
/[if lt IE 7] <html class='no-js ie6 oldie' lang='en'>
/[if IE 7] <html class='no-js ie7 oldie' lang='en'>
/[if IE 8] <html class='no-js ie8 oldie' lang='en'>
/ [if gt IE 8]><!
%html.no-js{:lang => 'en'}
  / <![endif]
  %head
    %title>Thinking
    %link{:href => "css/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}

  %body
    #load-tools.hidden
      %img{src: 'img/cursors/default.png'}
      %img{src: 'img/cursors/handle.png'}
      %img{src: 'img/cursors/handle-drag.png'}
      %img{src: 'img/cursors/pen-add.png'}
      %img{src: 'img/cursors/pen-anchor.png'}
      %img{src: 'img/cursors/pen-divide.png'}
      %img{src: 'img/cursors/pen-join.png'}
      %img{src: 'img/cursors/pen.png'}

    #toolbar.clearfix.hidecursor
      .icon.keytip{'data-tool' => 'default',         title: 'Cursor (V)', class: 'current'}
      .icon.keytip{'data-tool' => 'handle',  title: 'Handle Cursor (A)'}
      .icon.keytip{'data-tool' => 'pen',            title: 'Pen (P)'}
      //.icon.keytip{'data-tool' => 'zoom',           title: 'Zoom (Z)'}
    %canvas#canvas{:resize => true}

    %img#sprite.hidden{src: "img/sprite.png"}/
    %img#person-sitting.hidden{src: "img/person-sitting.png"}/

    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js'}
    :javascript
      window.jQuery || document.write('<script src="js/libs/jquery-1.8.0.min.js"><\/script>')

    %script{:src => "js/libs/underscore-min.js"}
    %script{:src => "js/libs/paper.js"}
    %script{:src => "js/libs/selection-cache.min.js"}
    %script{:src => "js/libs/tooltipsy.min.js"}

    %script{:src => "js/tools/cursor.js"}
    %script{:src => "js/tools/tools.js"}
    %script{:src => "js/tools/default.js"}
    %script{:src => "js/tools/pen.js"}
    %script{:src => "js/tools/handle.js"}
    %script{:src => "js/app.js"}

    %script{:src => "js/launch.js"}